antlr4-python3-runtime
appdirs
asttokens
attrs 
certifi 
click
click-plugins
cligj
colorama
comm
contourpy
cycler 
debugpy
decorator
dictdiffer
exceptiongroup
executing
fastjsonschema 
fiona
flatbuffers 
fonttools 
funcy 
geopandas 
incremental 
ipykernel 
ipython 
jedi 
joblib
jupyter_client
jupyter_core
kiwisolver
libclang 
matplotlib
matplotlib-inline
namex
nest-asyncio
numpy 
packaging 
pandas
parso
pillow 
platformdirs
psutil
psycopg2
pure-eval
PyDispatcher
Pygments 
pygtrie
pyparsing
pyproj
python-json-logger
pytz 
pywin32 
PyYAML
pyzmq 
queuelib
rfc3986-validator
rpds-py 
scikit-learn
scipy 
seaborn 
semver
Send2Trash
shapely
shellingham
shtab
six 
smmap
sniffio
soupsieve 
stack-data
tabulate
tensorboard-data-server
termcolor
threadpoolctl
tinycss2
tomli
tomlkit 
tornado 
traitlets 
twisted-iocpsupport
typing_extensions 
tzdata 
uri-template
urllib3
vine
voluptuous 
w3lib
wcwidth
webcolors 
webencodings
wrapt 